header h1 {
    height: 6rem;
    margin: 0;
}

div {
    text-align: center;
}

div h2 {
    font-family: 'JJK', sans-serif;
    font-size: 4rem;
    margin: 2rem 0 0.5rem 0;
}

main ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
}

main li {
    margin: 1rem 0 0 0;
    justify-content: center;
    align-items: center;
}

main li img {
    width: 29.625rem;
    height: 16.625rem;
    border-radius: 12px;
    border: 3px solid rgb(210, 125, 229);
}

#shows li:nth-of-type(11) {
    grid-column: 1 / span 2;
}

#shorts li:nth-of-type(7) {
    grid-column: 1 / span 2;
}

footer {
    margin-top: 2rem;
}